.image-tiles {
    margin-top: 2rem;
}

.simple-masonry {
    display: flex;
    gap: 4px;
}

.masonry-column {
    flex-grow: 1;
    width: 33%;
}

.image-thumb {
    width: 100%;
    height: auto;
    margin: 0 0 4px 0;
    border-radius: 5px;
}
.image-thumb:hover {
    opacity: 0.7;
    cursor: pointer;
}
