.image-tiles {
    margin-top: 2rem;
}

.simple-masonry {
    display: flex;
    justify-content: space-between;
}

.masonry-column {
    width: 49%;
}

.image-thumb {
    width: 100%;
    height: auto;
    margin-bottom: 2px;
    border-radius: 5px;
}
